.HeaderContainer {
  background-color: pink;
  color: white;
  padding: 15px;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

a {
  display: flex;
}
.headerLogo {
  width: 32px;
  height: 32px;
}

#logoLink {
  text-decoration: none;
  color: white;
}
